/*
!/.gitignore

!/_build/
/_build/build.config.php

.git

!/assets/
/assets/*
!/assets/components/
/assets/components/*
!/assets/components/shopmodx/


!/core/
/core/*
!/core/components/
/core/components/*
!/core/components/shopmodx/

!/manager/
/manager/*
!/manager/components/
/manager/components/*
!/manager/components/shopmodx/
